header#header-container
  div.header-content
    h2#site-name TechQuest
    nav(aria-label="Main navigation")
      ul
        li
          a(href="/") Home
        li
          a(href="/javascript") Learn Javascript